<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correzione EduQuiz</title>
  <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
  <h1>quiz completato</h1>
  <h2>hai fatto <%=punteggio%>
      <%= punteggio> 1 ? 'risposte esatte' : 'risposta esatta' %> su <%= totale %>
  </h2>
  <div class="button-container">
    <a href="/">
      <button type="button">Riprova</button>
    </a>
  </div>
</body>

</html>